
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;

}

#labForm>  input::-webkit-outer-spin-button,
#labForm>input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#labForm>input[type="number"] {
  -moz-appearance: textfield;
}

 #top{
    /* margin: auto; */
    margin: 5% 3%;
    display: flex;
    width: 97%;

 }
 #right{

     width: 70%;
     margin: 0 1%;
 }
 #labForm{
    display: grid;
    background-color: white;
    width: 70%;
    height: 100%;
    padding: 15px;
 }

.labitems{
   margin: 8px 12px;
   width: 300px;

    
}
#main-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    
}
#packages>h1,#packages>p{
     margin: 10px 30px;
     padding: 10px;

 }
 .labitems>p{
    font-size: 13px;
    color: rgba(21, 27, 57, .6);
    width: 200px;
 }
#item-1{
    background: #fff4eb url(https://www.netmeds.com/images/cms/wysiwyg/health-packages/pathology/family.png
    );
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: 65%;
    padding: 20px;
}
#item-2{
    background: #eafaff
    url( https://www.netmeds.com/images/cms/wysiwyg/health-packages/pathology/Aarogyam-1.3.png

    );
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: 65%;
    padding: 20px;
}
#item-3{
    background: #f6fae8 url(https://www.netmeds.com/images/cms/wysiwyg/health-packages/pathology/Allergy.png

    );
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: 65%;
    padding: 20px;
}
#item-4{
    background: #ebfffc url(https://www.netmeds.com/images/cms/wysiwyg/health-packages/pathology/Diabetes.png

    );
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: 65%;
    padding: 20px;
}
#item-5{
    background: #ebfffc url(https://www.netmeds.com/images/cms/wysiwyg/health-packages/pathology/Fever.png

    );
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: 25%;
    padding: 20px;
}
#item-6{
    background: #f6fae8 url(https://www.netmeds.com/images/cms/wysiwyg/health-packages/pathology/Netmeds-Health-Pack.png
    );
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: 65%;
    padding: 20px;
}
#item-7{
    background: #fff4eb url(https://www.netmeds.com/images/cms/wysiwyg/health-packages/pathology/Antenatal_Care.png
    );
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: 65%;
    padding: 20px;
}
#item-8{
    background: #eafaff url(https://www.netmeds.com/images/cms/wysiwyg/health-packages/pathology/Aarogyam-1.3.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 20px;
    border-radius: 6px;
    background-size: 65%;
    padding: 20px;

}

del,h2{
    width: fit-content;
    height: fit-content;
     
}
h2{
margin: -8px 0 10px 5px;
color: red;
}
.price{
    display: flex;
    flex-direction: row;
    width: 25px;
}
.bookPack{
    width: 130px;
    padding: 8px;
    /* margin: 5px; */
    background-color: white;
    color: #24aeb1;
    border: 0;
    font-size: 18px;
    font-weight: 600;
}

#bookBtn{
    width: 100%;
    padding: 8px;
    /* margin: 5px; */
    background-color: #24aeb1;
    color: white;
    border: 0;
    font-size: 18px;
     border-radius: 5px;
     margin-top: 10px;
}
#labForm>label{
color: #24aeb1;
margin-top: 10px;
}
#labForm>input{
    
border: 0;
border-bottom: 1px solid rgba(21, 27, 57, .1);
}
#labForm>select{
    width: 100%;
    padding: 3px;
    border: 0;
    border-bottom: 1px solid rgba(21, 27, 57, .1);
    background-color: white;
    color: #555555;
    margin: 5px 0px;
    margin-bottom: 8px;
 }
 option{
    color: #555555;
 }
 button{
    cursor: pointer;
 }
  