body{
    font-family: lato;
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: #011824;
    color:white;
    height: 180px;
    font-size: 18px;
}
.input input{
   background-color: white !important;
    width: 550px;
    height:35px;
    border-radius: 5px;
    display: block;
    padding: 9px 6px 9px 45px;
    background:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.logo img{
    margin-left:50px;
    width:100px;
    height: 90px;
}
.part1 a:hover{color:#3e8e41}
.part1{
    padding-top: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}
.part2{
    padding-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
   
}
.part2 a,.part1 a{
    text-decoration: none;
    color:white;
    margin-left: 15px;
    align-items: center !important;
}
.one span{
    margin-left: 10px;
}
.one {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.dropbtn {
    background-color:#011824;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffffd1;
    min-width:200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:#ffffff;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */


  .dropdown:hover .dropbtn {background-color: #3e8e41;}