*{
    box-sizing: border-box;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    
}
a{
    text-decoration: none;
    color:black
}
.hero1{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 30px;
    font-size: 14px;
 
}
.hero1 a{
    color: #151b39; 
}
#hero2{
    padding: 20px;
    text-align: center;
}
#hero2 img{
    width: 95vw;
    animation: 10s autoplay infinite ease-in-out;
}
@keyframes autoplay {
    0% {margin-left: 50em}
  4% {margin-left: 1em}
  31% {margin-left: 1em}
  35% {margin-left: -10em}
  64% {margin-left: -10em}
  68% {margin-left: -20em}
  98% {margin-left: -20em}
  100% {margin-left: -30em}
  }
  .wel1{
   
    color: white;
    padding: 20px;
    background: linear-gradient(90deg, rgba(1,24,36,1) 1%, rgba(0,65,2,1) 51%, rgba(1,24,36,1) 100%);
  }
  .wel2{
   
    color: white;
    padding: 20px;
    background: linear-gradient(90deg, rgba(5,0,91,1) 0%, rgba(0,43,112,1) 35%, rgba(1,24,36,1) 100%);
  }
  .dprod img{
    width:200px;
    height:200px;
    padding-bottom: 20px;
  }
  .dprod{
    text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  }
  .dprod div{
    color: black;
    border-radius: 10px;
    margin: 20px; background-color: white;
    padding:10px 5px 50px;}